@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #933d46;
  color: #fcf3cf;
  
}


a {
  text-decoration: none;

}

.container{
  width: 85%;
  position: absolute;
  left: 7%;
}
.container-header {
  width: auto;
  height: auto;
  background-color: #933d46;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.logo {
  width: 200px;
  height: 70px;
}
.logo a {
  display: block;
  text-decoration: none;
  color: #fcf3cf;
  font: normal 24px lighter;
  padding: 16px;
}
.search {
  width: auto;
}
.search input {
  width: 350px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background: #fcf3cf;
}
input::placeholder {
  color: #933d46;
}
.search a {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  color: #933d46;
  position: relative;
  right: 40px;
}
.upload {
  width: auto;
}
.upload a {
  padding: 10px;
}
.upload button {
  padding: 13px;
  color: #933d46;
  background: #fcf3cf;
}
.user {
  width: auto;
}
.user a {
  padding: 0px;
}
.user button {
  padding: 13px;
  color: #933d46;
  background: #fcf3cf;
}
p {
  position: relative;
  color: #fcf3cf;
}
.buttonmini button {
  background-color: #fcf3cf;
  border: none;
  color: #933d46;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 6px;
  border-radius: 100%;
  position: relative;
  right: 185px;
  bottom: 25px;
}

.container-navbar {
  margin: 0 40px;
  padding: 0 50px;
}
nav {
  background-color: #943d45;
  padding: 20px 0;
  border-top: 2px solid #daa39e;
  border-bottom: 2px solid #daa39e;
}
nav ul {
  display: flex;
  list-style-type: none;
}
nav ul li {
  padding-left: 20px;
}
nav ul li::before {
  content: "/";
  padding: 0 14px;
  color: #daa39e;
}
nav ul li:first-child::before {
  content: "";
}
nav ul li a {
  text-decoration: none;
  color: #daa39e;
}

body {
  background-color: #933d46;
  color: #fcf3cf;
}

.container-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  margin-top: 40px;
}



.container-main .right-side {
  width: 29%;
}

.right-side .rs-title {
  margin: 15px 0px;
  align-items: end;
  display: flex;
  justify-content: space-between;
}
.right-side .rs-title h2,
h5 {
  margin: 0;
  font-weight: 100;
}

.container-main .right-side .rs-content ul {
  padding: 0;
  margin: 0;
  width: 100%;
  max-height: 515px;
  overflow-y: auto;
}

.container-main .right-side .rs-content ul li {
  position: relative;
  margin: 20px 0px;
}

.container-main .right-side .rs-content ul li .logo-activity {
  float: left;
  margin-right: 8px;
}

.container-main .right-side .rs-content ul > li:hover {
  border: 1px solid #fcf3cf;
}

.delete {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  border-left: 30px solid transparent;
  border-top: 30px solid #fcf3cf;
  width: 0px;
  height: 0px;
}

.container-main .right-side .rs-content .delete span i {
  position: absolute;
  top: -27px;
  left: -12px;
  color: gray;
}

.container-main .right-side .rs-content ul > li:hover .delete {
  display: block;
}

/*Left Side - Section Videos*/

.container-main .left-side {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.container-main .left-side a{
  color: #F4E2CE;
}

.container-main .left-side p {
  color: #7C3937;
}

.section-content {
  padding-top: 20px;
  color: #F4E2CE;
}

.content-container {
  color: #7C3937;

}
.content-header {
  display: flex;
  align-items: center;
  width: 65%;
  padding-bottom: 10px;
  justify-content: space-between;
}
.box{
  width: 225px;
  height: 140px;
  background-color: #F4E2CE;
  padding: 10px;
}
.content-item {
  display: flex;
  align-items: flex-end;
}

.large {
  width: 460px;
  height: 290px;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.top-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bottom {
  display: flex;
  gap: 10px;
}

.content-item .text {
  width: 100%;
}

.content-item .text p {
  display: flex;
  justify-content: space-between;
}

.content-item.small .text,.upload .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upload{
  background-color: transparent;
  color: #F4E2CE;
  border: 1px solid #F4E2CE;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload .text ion-icon{
  font-size: 50px;
  padding-right: 15px;
}
.containerch{
  margin-top: 20px;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 510px;
  overflow: hidden;
  overflow-y: scroll;
}
.chanelbox{
  position: relative;
  width: 165px;
  height: 90px;
  background-color: #f3e4ce;
  margin-top: 10px;
}
.chaneltext p{
  font-size: 13px;
  color: #933d46;
  font-family: 'Roboto', sans-serif;
}
.chaneltext{
  position: absolute;
  margin-top: 40px;
  margin-left: 8px;
  padding-top: 10px;
  height: max-content !important;
  width: max-content !important;
}
.chanelimg > img{
  position: absolute !important;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #f3e4ce !important;
  top: 0 !important;
  right: 0 !important;
  margin-right: 3px !important;
  margin-top: 3px !important;
  cursor: pointer;
}
.chanelimg{
  height: 100px;
  height: 80px;
  opacity: 0;
  visibility: inherit;
  transition: 0.2s;
}
.chanelimg:hover{
  transition: 0.2s;
  opacity: 1;
  visibility: visible;
}
.container .browse h1{
  margin-top: 40px;
  color: #f3e4ce;
  font-size: 26px;
  font-family: 'Open Sans', sans-serif;

}
.container .browse{
  padding-bottom: -40px;
  display: flex;
  border-bottom: 3px solid #f3e4ce;
  width: 100%;
  justify-content: space-between;
}
.container .browse h5{
  color: #f3e4ce;
  margin-top: 52px;
  font-family: 'Open Sans', sans-serif;

}
.figure{
  position: relative;
}
.figure::before{
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #652a2a;
  top: 0 !important;
  right: 0 !important;s
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}
.hr{
  position: absolute;
  width:294px !important;
  margin-left: 71px;
  background-color: #f3e4ce;
  margin-top:18px ;
}
.hr1{
  width: 100%;
  background-color: #f3e4ce;
}